{% macro bq_to_hubspot() -%}

name = BigqueryToHubspot(
    task_id="name",
    bigquery_conn_id="gcp_airflow@contaazul-jarvis",
    bigquery_sql=aaa,
    hubspot_conn_id="http_hubspot_acc",
    throw_exception_on_invalid_email=False,
    depends_on_past=False,
    dag=dag,
)

{%- endmacro %}

{{ bq_to_hubspot() }}